@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300;400;700&family=Poppins:wght@100;200;300;400;500;600&family=Raleway:wght@100;200;300;400;500&family=Roboto:wght@100;300;400;500&display=swap');

*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}

body{
  background:rgb(50, 2, 105);
  color:white;
}