
<div class="fluid-container navbar">
  <h4 class='site-name'>Fetcher</h4>
</div> -->

<div class="container mt-2 show-case">

  <audio controls class='complete_tone' autoplay>
    <source src="../doodle/complete_tone.mp3" type="audio/ogg" infinite>
    Your browser does not support the audio tag.
  </audio>



  <div class="result-text">
    <h1>Done, Check your Results...</h1>
  </div>
  <div class="row output" >
    <div class="col-sm-5 mt-5 doodle-image">
      <img src="../doodle/done.svg" alt="" srcset="" class='img-fluid'>
    </div>
    <div class="col-sm-7 response">
      <div class="row all-actions">
        <div class="col-sm-12">
          <div class="actions">
            <div class="save-actions">
              <a href="" class="button copy"><i class="fas fa-clipboard"></i></a>
              <a href="" class="button save-as-txt"><i class="fas fa-save"></i></a>
              <a href="" class="button share"><i class="fas fa-share-alt"></i></a>
            </div>
            <div class="retry-actions">
              <a href="" class="button font-size"><i class="fas fa-font"></i></a> 
              <a href="" class="button undo"><i class="fas fa-undo"></i></a>
            </div>
          </div>
        </div>
      </div>
      {{obj}}
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat vel soluta nisi commodi laborum asperiores fugiat sapiente a dolorum omnis sequi, aliquam eaque reprehenderit voluptates rem qui temporibus pariatur blanditiis molestiae illo repudiandae. Assumenda autem magni esse. Dolore in ea nesciunt, accusantium nostrum ex nihil. Natus sapiente animi ex nostrum!</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat vel soluta nisi commodi laborum asperiores fugiat sapiente a dolorum omnis sequi, aliquam eaque reprehenderit voluptates rem qui temporibus pariatur blanditiis molestiae illo repudiandae. Assumenda autem magni esse. Dolore in ea nesciunt, accusantium nostrum ex nihil. Natus sapiente animi ex nostrum!</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat vel soluta nisi commodi laborum asperiores fugiat sapiente a dolorum omnis sequi, aliquam eaque reprehenderit voluptates rem qui temporibus pariatur blanditiis molestiae illo repudiandae. Assumenda autem magni esse. Dolore in ea nesciunt, accusantium nostrum ex nihil. Natus sapiente animi ex nostrum!</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat vel soluta nisi commodi laborum asperiores fugiat sapiente a dolorum omnis sequi, aliquam eaque reprehenderit voluptates rem qui temporibus pariatur blanditiis molestiae illo repudiandae. Assumenda autem magni esse. Dolore in ea nesciunt, accusantium nostrum ex nihil. Natus sapiente animi ex nostrum!</p>
    </div>
  </div>
</div>





