@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300;400;700&family=Poppins:wght@100;200;300;400;500;600&family=Raleway:wght@100;200;300;400;500&family=Roboto:wght@100;300;400;500&display=swap');

body{
  background-color: rgb(58, 58, 58);
  font-family: 'Raleway';
  font-size:1.5rem;
  color:rgb(202, 202, 202);
}